@use '@shawnsandy/first-paint/src/styles/critical.scss';

a[role="button"] > em,
.fp-button-link[role="button"] > em {
  background-color: #432f7a !important;
  border-radius: 99rem !important;
  color: #e0f1f1 !important;
}
