@use '@shawnsandy/first-paint/src/styles/critical.scss';


        a[role=button]>em,
        .fp-button-link[role=button]>em {
          background-color: #2f1180 !important;
          border-radius: 99rem !important;
          color: #e0f1f1 !important;
        }

