@use '@shawnsandy/first-paint/src/styles/critical.scss';

:root {
  --pct100: 100%;
  --pct80: 80%;
  --pct60: 60%;
  --pct40: 40%;
  --pct20: 20%;
  --pct10: 10%;
  --pct5: 5%;
}

a[role="button"] > em,
.fp-button-link[role="button"] > em {
  background-color: #432f7a !important;
  border-radius: 99rem !important;
  color: #e0f1f1 !important;
}

nav {
  z-index: 99;
}

.back_feature {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  h4 {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  p {
    text-align: left;
  }

  p > a {
    padding: 1rem;
    text-align: center;
    min-width: calc(250rem / 16);
    width: 100%;
    em {
      min-width: calc(250rem / 16);
      min-width: var(--pct100);
    }
  }
}

main {
  article {
    img {
      max-width: 100%;
    }
  }
}
