@use '@shawnsandy/first-paint/src/components.scss';

@include components.button-links();
@include components.form-elements();
@include components.header-addBorders();
@include components.elements-pre();

a[role="button"] > em {
  filter: contrast(1.15);
}

header > section[role="banner"] {

  @media (min-width: 980px) {
    max-width: 70%;
  }

}

strong {
  font-weight: 500;
}

[aria-label="feature"] {
  ul {
    margin-left: 0.9rem;
    list-style: disc;
    margin-bottom: 1rem;

    li + li {
      margin-top: 0.5rem;
    }
  }

  blockquote {
    padding: 3rem 0;
  }
}

nav {
  @media (min-width: 980px) {
    //align-items: center;
  }
}
.page-main.main_banner{
   background-image: url("/images/main_banner2.png") !important;
   width: 100vw !important;
   height:25vw !important;
   margin: auto;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}
h4{

  font-variant: small-caps;
}
.feature{
 font-size: .95rem;
  padding: 1rem;
}
.feature_list {
font-size: .85rem;
paddding: left 1.5rem;
}
.heart {
 display: block;
 margin-left: auto;
 margin-right: auto;
}
.page-about.main_banner {
  background-image: url("/images/about_us.hero.png") !important;
  width: 100vw !important;
  height: 25vw;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.about_p{
  font-size: .8rem;
  padding-right: 2rem;
  }

h4
{font-variant: small-caps;
font-size:1.5rem;}