@use "@shawnsandy/first-paint/src/components.scss";

@include components.button-links();
@include components.form-elements();
@include components.header-addBorders();
@include components.elements-pre();

a[role="button"] > em {
  filter: contrast(1.15);
  text-align: center;
}

header > section[role="banner"] {
  @media (min-width: 980px) {
    max-width: 70%;
  }
}

strong {
  font-weight: 500;
}

[aria-label="feature"] {
  ul {
    margin-left: 0.9rem;
    list-style: disc;
    margin-bottom: 0.5rem;

    li + li {
      margin-top: 0.5rem;
    }
  }

  blockquote {
    padding: 3rem 0;
  }
}

nav {
  @media (min-width: 980px) {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    height: 5rem;
    width: 100%;
    padding-left: 12rem;
    padding-right: 10rem;
  }
}
.page-home.main_banner {
  background-image: url("/images/Landingimage.webp") !important;
  width: 100vw !important;
  height: 30vw !important;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.feature {
  font-size: 0.95rem;
  padding: 1rem;
}
.feature_list {
  font-size: 0.85rem;
  padding-left: 3rem;
}
.feat_icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.page-about.main_banner,
.our-story .main_banner {
  background-image: url("/images/story1-min.png") !important;
  width: 100vw !important;
  height: 30vw;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.page-resources.main_banner {
  background-image: url("/images/resource-min.png") !important;
  width: 100vw !important;
  height: 25vw;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.page-contact.main_banner {
  background-image: url("/images/about_us.hero.png") !important;
  width: 100vw !important;
  height: 25vw;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.page-operations_officer.main_banner {
  background-image: url("/images/vol-banner2.jpg") !important;
  width: 100vw;
  height: 55vh;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.page-web_admin.main_banner {
  background-image: url("/images/vol-banner2.jpg") !important;
  width: 100vw;
  height: 60vh;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.about_p {
  font-size-adjust: grey;
  font-size: 0.85rem;
}

h6 {
  font-variant: small-caps;
  font-size: 1rem;
  text-align: center;
}

.resource_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
}
.resource_card {
  border: 1px solid #faf7f7;
  border-radius: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  box-shadow: 5px 5px #f3f2f7;
  font-size: medium;
}
.resource_title {
  text-shadow: 2px 2px #dad3d3;
}
.fb-page {
  padding-bottom: 1rem;
}
.contact_form {
  background-color: #f7f9f9e1;
  padding: 3rem;
}
.social_media {
  position: relative;
}
.icon {
  padding-right: 6px;
  border-top: 10rem;
}
.articles {
  padding-right: 4rem;
  padding-left: 3rem;
  border-right: inset 1px #f1f1f1;
  font-size: 1rem;
}

.back-feature {
  padding-top: 2rem;
  p.feature {
    text-align: left;
  }
}
