<section class="back_feature">
  <div role="list">
    <div role="listitem" class="mission">
      <h5>
                Our Mission
      </h5>
<div><img src="/images/goal.png" alt="heart" class="heart"></div>
            <p class="feature" align=center>
                    Our goal is to deliver free high quality tutoring services to Hernando County Middle and High Schoolers.
        We want to support academic success and help build students' confidence.</p>
         <p>
  <a
    href="#"
    role="button"
    aria-label="Add word, cta action, to your button title"
  >
    <em> Chat with us</em></a
  >
</p>
    </div>

    <div role="listitem">
      <h5>
       Choose a Peer Tutor
      </h5>
      <div><img src="/images/choose_peer_tut.png" alt="diverse peer" class="heart"></div>
      <p class="feature">
       Some of the benefits of using our Peer Tutors.
          <ul class="feature_list">
          <li> Free to all Hernando County school students.
          <li> Students can practice challenging material.
          <li> Students get individual attention.
          </ul>
       </p>
       <p>
  <a
    href="#"
    role="button"
    aria-label="Add word, cta action, to your button title"
  >
    <em>Request a Tutor</em></a
  >
</p>
    </div>
    <div role="listitem">
      <h5>
     Celebrating 2020-2021
      </h5>
      <div><img src="/images/fireworks.png" alt="fireworks" class="heart"></div>
      <p class="feature">
        Announcing our small wins from a challenging year.
           <ul class="feature_list">
        <li> We had 12 great Tutors.
        <li> 44 appointment request.
        <li> 285 Volunteer Hours approved for Bright Futures.
        </ul>
        </p>
        <p>
  <a
    href="#"
    role="button"
    aria-label="Add word, cta action, to your button title"
  >
    <em> Meet our Team </em></a
  >
</p></div>
  </div>
</section>
<hr />
