<section class="back_feature">
  <div role="list">
    <div role="listitem" class="mission">
      <h6>
                Our Mission
      </h6>
      <div><img src="/images/goal.png" alt="heart" class="feat_icon"></div>
      <p class="feature" align=center>
                    Our goal is to deliver free high quality tutoring services to Hernando County Middle and High Schoolers.
        We want to support academic success and help build students' confidence.</p>
      <p>
        <a
    href="#"
    role="button"
    aria-label="Add word, cta action, to your button title"

  >
          <em style="width: var(--pct100)"> Chat with us</em>
        </a
  >
      </p>
    </div>

    <div role="listitem">
      <h6>
       Choose a Peer Tutor
      </h6>
      <div><img src="/images/choose_peer_tut.png" alt="diverse peer" class="feat_icon"></div>
      <p class="feature">
       Some of the benefits of choosing our tutors.
          <ul class="feature_list">
          <li> Free to all Hernando County school students.</li>

          <li> More practice with challenging material.</li>

          <li> Customized student sessions.

          </li>

        </ul>
      </p>
      <p>
        <a
    href="#"
    role="button"
    aria-label="Add word, cta action, to your button title"
  >
          <em>Request a Tutor</em>
        </a
  >
      </p>
    </div>
    <div role="listitem">
      <h6>
     Celebrating 2020-2021
      </h6>
      <div><img src="/images/fireworks.png" alt="fireworks" class="feat_icon"></div>
      <p class="feature">
        Announcing our wins from a challenging year.
           <ul class="feature_list">
          <li> We had 12 great Tutors.</li>
          <li> 44 appointment request.</li>
          <li> 285 approved Volunteer Hours.</li>
        </ul>
      </p>
      <p>
        <a href="https://cas-tutor.netlify.app/pages/" role="button"
    aria-label="Our Story">
          <em> Our story </em>
        </a>
      </p>
    </div>
  </div>
</section>
<hr/>
