<section class="back_feature">
  <div role="list">
    <div role="listitem">
      <h5>
                Our Mission
      </h5>
<div><img src="/images/goal.png" alt="heart" class="heart"></div>
            <p class="feature" align=center>
                    Our goal is to deliver high quality tutoring services to Hernando County Middle and High Schoolers.
        We want to support academic success and help build students' confidence.</p>
    </div>
    <div role="listitem">
      <h5>
       Choose a Peer Tutor
      </h5>
      <p class="feature">
       Peer tutors are excellent resource to help students achieve academic success.
          <ul class="feature_list">
          <li> Students experience higher academic achievement.
          <li> Students can practice challenging material.
          <li> Students get individual attention.
          </ul>
       </p>
    </div>
    <div role="listitem">
      <h5>
       Volunteer to be a Peer Tutor
      </h5>
      <p class="feature">
        Volunteering to tutor your peers can help you grow as a students and provide rewarding benefits including:-
        <ul class="feature_list">
        <li> Develop leadership and interpersonal communication skills.
        <li> Reinforce knowledge of course of content.
        <li> Tutor hours are eligible for the Bright Futures Scholarship.
        </ul>
        </p>    </div>
  </div>
</section>
<hr />
