<footer role="contentinfo">
  <section>
    <div>
      <h5>
        <a href="/" aria-label="Site logo">
          <!-- <img src="/img/fp.svg" alt=""> -->
          <!-- <span aria-label="logo text">{{ pkg.app.name }}</span> -->
          {% include 'partials/brand.njk' %}
        </a>
      </h5>
    </div>
    <div class="social_media">
      <span>
        <ol>
          <li class="icon">
            <a href="#"  ><img src="/images/fb.png"></a>
            <a href="#"  ><img src="/images/ig.png"></a>
            <a href="#" ><img src="/images/email.png"></a>
          </li>
        </ol>
      </span>
    </div>
  </section>
  <hr>
  <section>
    <p>
      Copyright &copy; {{ hlp.11ty.year() }}
      {{ settings.author.name }} All rights reserved
    </p>
  </section>
  {% if env.node_env == 'development' %}
    <div style="text-align: center;"></div>
  {% endif %}
</footer>