<h5>Volunteers</h5>
{% set recentCategory = "Volunteers" %}
{% include 'partials/recent-widget.njk' %}

<h5>Recent Articles</h5>
{% set recentCategory = "News" %}
{% include 'partials/recent-widget.njk' %}