---
title: Contact Us
scripts: ["/js/min/form.js"]
eleventyNavigation:
  key: Resources
  order: 2
---

<section class="resource_card">
  <div role="list">
    <div role="listitem" class="mission"><p>1</p>
      </div>

    <div role="listitem" class="mission">
      <p>2</p>
    </div>

    <div role="listitem" class="mission"> <p>3</p>
      </div>
    </div>
</section>

{% if env.form_provider == "netlify" %}
<div>{% include 'partials/contact.njk' %}</div>
{% elif env.form_provider == "web3forms" %}
<div>{% include 'partials/webform-contact.njk' %}</div>
{% else %}
<hr />
<p>
  Thanks you message, feedback, questions or suggestions, someone form our team
  will review your email and respond as soon as possible.
</p>
<hr />
{% endif %}

<!-- recaptcha form -->
{% set recaptcha %}
<script src="https://www.google.com/recaptcha/api.js?render={{
    env.recaptcha_key
  }}"></script>
<script>
  grecaptcha.ready(function () {
    grecaptcha
      .execute("{{ env.recaptcha_key }}", {
        action: "contact",
      })
      .then(function (token) {
        recaptchaResponse.value = token;
      });
  });
</script>
{% endset %}
