---
title: Resources to help
scripts: ["/js/min/form.js"]
eleventyNavigation:
  key: Resources
  order: 2
---

<section >
  <div role="list">
    <div role="listitem" class="resource_card">
    <div><img src="/images/chegg.png" alt href="https://www.chegg.com/study" alt="logo" class="resource_logo"></div>
      </div>
      <div role="listitem" class="resource_card">
    <div><img src="/images/quizlet.png" alt href="https://www.chegg.com/study" alt="logo" class="resource_logo"></div>
      </div>
      <div role="listitem" class="resource_card">
    <div><img src="/images/duolingo.png" alt href="https://www.chegg.com/study" alt="logo" class="resource_logo"></div>
      </div>

    </div>
</section>
<section >
  <div role="list">
    <div role="listitem" class="resource_card">
    <div><img src="/images/khanacademy.png" alt href="https://www.chegg.com/study" alt="logo" class="resource_logo"></div>
      </div>
      <div role="listitem" class="resource_card">
    <div><img src="/images/desmos.png" alt href="https://www.chegg.com/study" alt="logo" class="resource_logo"></div>
      </div>
      <div role="listitem" class="resource_card">
    <div><img src="/images/coldturkey.png" alt href="https://www.chegg.com/study" alt="logo" class="resource_logo"></div>
      </div>

    </div>
</section>
<section >
  <div role="list">
    <div role="listitem" class="resource_card">
    <div><img src="/images/chegg.png" alt href="https://www.chegg.com/study" alt="logo" class="resource_logo"></div>
      </div>
      <div role="listitem" class="resource_card">
    <div><img src="/images/quizlet.png" alt href="https://www.chegg.com/study" alt="logo" class="resource_logo"></div>
      </div>
      <div role="listitem" class="resource_card">
    <div><img src="/images/duolingo.png" alt href="https://www.chegg.com/study" alt="logo" class="resource_logo"></div>
      </div>

    </div>
</section>
<section >
  <div role="list">
    <div role="listitem" class="resource_card">
    <div><img src="/images/chegg.png" alt href="https://www.chegg.com/study" alt="logo" class="resource_logo"></div>
      </div>
      <div role="listitem" class="resource_card">
    <div><img src="/images/quizlet.png" alt href="https://www.chegg.com/study" alt="logo" class="resource_logo"></div>
      </div>
      <div role="listitem" class="resource_card">
    <div><img src="/images/duolingo.png" alt href="https://www.chegg.com/study" alt="logo" class="resource_logo"></div>
      </div>

    </div>
</section>

{% if env.form_provider == "netlify" %}
<div>{% include 'partials/contact.njk' %}</div>
{% elif env.form_provider == "web3forms" %}
<div>{% include 'partials/webform-contact.njk' %}</div>
{% else %}
<hr />
<p>
  Thanks you message, feedback, questions or suggestions, someone form our team
  will review your email and respond as soon as possible.
</p>
<hr />
{% endif %}

<!-- recaptcha form -->
{% set recaptcha %}
<script src="https://www.google.com/recaptcha/api.js?render={{
    env.recaptcha_key
  }}"></script>
<script>
  grecaptcha.ready(function () {
    grecaptcha
      .execute("{{ env.recaptcha_key }}", {
        action: "contact",
      })
      .then(function (token) {
        recaptchaResponse.value = token;
      });
  });
</script>
{% endset %}
