---
scripts: ["/js/min/form.js"]
eleventyNavigation:
  key: Resources
  order: 2
---
<div>
  <h5 class="about_p"> More helpful tools for students</h5>
  <p>Apps are powerful tools that can help students on their education journey. We have compiled a list of apps that are either free or have useful feature to assist students.</p>
</div>
<section >
  <div role="list">
    <div role="listitem" class="resource_card">
      <h5 class="resource_title">Chegg Prep<h5>
          <div>
            <a href="https://www.chegg.com/"><img src="/images/chegg.png" alt="Chegg logo" class="resource_logo"></a>
          </div>
          <p class="about_p">
            <strong>Chegg Prep</strong> is an online community-driven library of flashcards, forums, and study guides. Students
     can use the free version to ask questions (to the community of nearly 7 million users) and sift through suggested flashcards
      within a particular subject or topic.
     </p>
        </div>
        <div role="listitem" class="resource_card">
          <h5 class="resource_title">Quizlet<h5>
              <div>
                <a href="https://www.quizlet.com/"><img src="/images/quizlet.png" alt="Quizlet logo" class="resource_logo"></a>
              </div>
              <p class="about_p">
                <strong>Quizlet</strong> allows users to create their own quizzes, flashcards, diagrams, and games to
    design their own fun, interactive learning experience. Students can also search through more than 250 million study sets and take the
    material with them wherever they go on mobile devices.
     </p>
            </div>
            <div role="listitem" class="resource_card">
              <h5 class="resource_title">Duolingo<h5>
                  <div>
                    <a href="https://www.duolingo.com/"><img src="/images/duolingo.png" alt="Duolingo logo" class="resource_logo"></a>
                  </div>
                  <p class="about_p">
                    <strong>Duolingo</strong> lessons adapt to your learning style. Exercises are tailored to help you learn and review vocabulary effectively.
    A study has shown that 34 hours of <strong>Duolingo</strong> are equal to 1 university semester of language courses.
     </p>
                </div>
              </section>
              <section>
                <div role="list">
                  <div role="listitem" class="resource_card">
                    <h5 class="resource_title">Desmos<h5>
                        <div>
                          <a href="https://www.desmos.com/"><img src="/images/desmos.png" alt="Desmos logo" class="resource_logo"></a>
                        </div>
                        <p class="about_p">Desmos is a free online graphing calculator that students can use to graph functions, plot data, and evaluate equations.
    The site and mobile app are both extremely user-friendly and include valuable guides and resources to help students get the most of the calculator.
     It’s also very simple to print, export, and share the graphs and solutions students create.
     </p>
                      </div>
                      <div role="listitem" class="resource_card">
                        <h5 class="resource_title">Khan Academy<h5>
                            <div>
                              <a href="https://www.khanacademy.org"><img src="/images/khanacademy.png" alt="khanacademy logo" class="resource_logo"></a>
                            </div>
                            <p class="about_p">Khan Academy is a completely free personalized learning resource with an online library of more than 3,000 courses, videos,
     and exercises. Also available as a mobile app, Khan Academy offers lessons in math, science, and history. The platform also allows students to complete
      daily reviews and track their progress.
     </p>
                          </div>
                          <div role="listitem" class="resource_card">
                            <h5 class="resource_title">Cold Turkey<h5>
                                <div>
                                  <a href="https://getcoldturkey.com/"><img src="/images/coldturkey.png" alt="coldturkey logo" class="resource_logo"></a>
                                </div>
                                <p class="about_p">Cold Turkey helps students stay focused on blocking applications and websites for a set amount of time. There’s
    also a mobile version that does the same thing for phones—making students quit all their distractions, cold turkey.
     </p>
                              </div>
                            </div>
                          </section>
                          <section >
                            <div role="list">
                              <div role="listitem" class="resource_card">
                                <h5 class="resource_title">Focus Booster<h5>
                                    <div>
                                      <a href="https://www.focusboosterapp.com/"><img src="/images/focusbooster.png" alt="focus boosterlogo" class="resource_logo"></a>
                                    </div>
                                    <p class="about_p">Studies have shown that the Pomodoro Technique—a focus strategy that involves timed
    combinations of concentration and short breaks—can help students stay focused on a particular task.
    Focus Booster gives them the tools to implement this study technique and develop a deeper understanding of their work habits.
     </p>
                                  </div>
                                  <div role="listitem" class="resource_card">
                                    <h5 class="resource_title">Evernote<h5>
                                        <div>
                                          <a href="https://evernote.com/"><img src="/images/evernote.png" alt="Evernote logo" class="resource_logo"></a>
                                        </div>
                                        <p class="about_p">Evernote gives students the ability to take notes however they want and organize it all in one place online.
     They can type out their notes, take a photo, create checklists, record audio, forward emails, and even write notes by hand onto a
     screen (for devices with that capability). Once it’s on Evernote, students can search and organize their notes using notebooks, categories, and tags.
     </p>
                                      </div>
                                      <div role="listitem" class="resource_card">
                                        <h5 class="resource_title">CK-12<h5>
                                            <div>
                                              <a href="https://www.ck12.org/student/"><img src="/images/ck12.png" alt="Ck-12 logo" class="resource_logo"></a>
                                            </div>
                                            <p class="about_p">This is a platform that provides high quality curated STEM content for teachers and students. Its library has over 5000 math and
    science materials ideal to use in class.
     </p>
                                          </div>
                                        </div>
                                      </section>
                                      <section>
                                        <div role="list">
                                          <div role="listitem" class="resource_card">
                                            <h5 class="resource_title">EDX<h5>
                                                <div>
                                                  <a href="https://www.edx.org/"><img src="/images/edx.png" alt="EDX logo" class="resource_logo"></a>
                                                </div>
                                                <p class="about_p">EdX offers free online courses from world’s top universities including ‘Harvard University, MIT,
    UC Berkeley, Tsinghua University, Microsoft, Linux, The Smithsonian and more. Courses cover different topics like computer science,
     engineering, history, psychology, nutrition, big data, statistics and hundreds more.’

     </p>
                                              </div>
                                              <div role="listitem" class="resource_card">
                                                <h5 class="resource_title">DocsTeach<h5>
                                                    <div>
                                                      <a href="https://www.docsteach.org/"><img src="/images/docsteach.png" alt="logo" class="resource_logo"></a>
                                                    </div>
                                                    <p class="about_p">Access thousands of primary sources — letters, photographs, speeches, posters, maps, videos, and other
     document types — spanning the course of American history
     </p>
                                                  </div>
                                                </div>
                                              </section>
                                              <p>
                                                <em> Do you have anny suggestions for an app or just a comment? Talk to us and fill out the form below</em>
                                              </p>
                                              {% if env.form_provider == "netlify" %}
                                                <div>{% include 'partials/contact.njk' %}</div>
                                              {% elif env.form_provider == "web3forms" %}
                                                <div>{% include 'partials/webform-contact.njk' %}</div>
                                              {% else %}
                                                <hr/>
                                                <p>
  Thanks you message, feedback, questions or suggestions, someone form our team
  will review your email and respond as soon as possible.
</p>
                                                <hr/>
                                              {% endif %}

                                              <!-- recaptcha form -->
                                              {% set recaptcha %}
                                              <script src="https://www.google.com/recaptcha/api.js?render={{
    env.recaptcha_key
  }}"></script>
                                              <script>
                                                grecaptcha.ready(function () {
                                                  grecaptcha
                                                    .execute("{{ env.recaptcha_key }}", {action: "contact"})
                                                    .then(function (token) {
                                                      recaptchaResponse.value = token;
                                                    });
                                                });
                                              </script>
                                              {% endset %}