<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ settings.title }}</title>
    <meta name="description" content="title" />
    <meta name="author" content="author" />
    <script
      src="https://kit.fontawesome.com/e2ffdf4c70.js"
      crossorigin="anonymous"
    ></script>
    <!-- load the critical styles inline -->
    {% set css %} {% include "src/css/cover-page.css" %} {% endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>

  <body>
    <div data-cover>
      {% include 'partials/nav.njk' %}
      <header>
        <section role="banner" class="hero_banner">
          <div class="wrapper">
            <div class="wrapper-content">

              <h4> We are here to help with classes?</h4>
              <h5>
                We offer free tutor sessions for Hernando County Middle and High Schoolers
              </h5>

              <p>
                <a href="/main" role="button" aria-label="Go to the main page">
                  <em> Welcome! </em></a
                >
              </p>
            </div>
          </div>
        </section>
      </header>
      <footer role="contentinfo">
        <div>
          <p>
            Copyright &copy; {{ hlp.11ty.year() }} {{ settings.author.name }}
            All rights reserved
          </p>
        </div>
      </footer>
    </div>

    <!-- <script src="index.js"></script> -->

  </body>


</html>
